body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@media (max-width: 480px) {
  body {
    font-size: 16px !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  body {
    font-size: 18px !important;
  }
} 

@media (min-width: 768px) and (max-width: 1024px){
  body {
    font-size: 20px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  body {
    font-size: 24px !important;
  }
}  

@media (min-width: 1281px) {
  body {
    font-size: 28px !important;
  }
}